<div class="product-card-dlg-container">
  <div class="product-card-dlg">
    <img class="product-card-dlg-img" 
      src="{{product.imageSource}}" 
      alt="Изображение не найдено({{product.id}})"
      onError="this.src = 'img-not-found.jpg'"
      (click)="openProductCard(product)">
    <div>
      <button md-raised-button color="primary" class="basket-btn" 
        (click)="basketService.putIn(product)"
        *ngIf="!product.isDeleted">
        В корзину
      </button>
      <p *ngIf="product.isDeleted" class="is-deleted-text">Нет в наличии</p>
    </div>
  </div>

  <div class="product-description-container">
    <h3 class="product-title">{{product.name}}</h3>
    <p>{{product.description}}</p>
  </div>
</div>