.product-card-dlg-container {
    height: 456px;
    width: 800px;
    padding: 10px;
}

.product-card-dlg {
    width: 400px;
    float: left;
} 

.product-card-dlg-img {
    width: 400px;
    height: 400px;
    cursor: pointer;
}

.mat-dialog-container {
    padding: 0;
}

.actions-container {
    height: 40px;
}

.basket-btn {
    float: right;
}

.product-description-container {
    padding: 10px;
    margin-left: 400px;
    min-width: 350px;
}

.product-description-container {
    padding: 0 10px 10px 10px;
    margin-left: 400px;
}

.is-deleted-text {
    float: right;
}

.product-title {
    margin-top: 0;
    padding: 0;
}