<div class="component-panel">
  <div>
    <button md-icon-button (click)="back()">
      <md-icon>keyboard_arrow_left</md-icon>
      Назад
    </button>
  </div>
  <md-card class="product-card">
      <md-card-header>
        <md-card-title class="product-title">{{product.name}}</md-card-title>
      </md-card-header>
      <img md-card-image class="product-card-img" 
        src="{{product.imageSource}}" 
        alt="Изображение не найдено({{product.id}})"
        onError="this.src = 'img-not-found.jpg'">
      <md-card-actions>
          <div class="actions-container">
              <button md-raised-button color="primary" class="basket-btn" 
                (click)="putInBasket(product)"
                *ngIf="!product.isDeleted">
                В корзину
              </button>
              <p *ngIf="product.isDeleted" class="is-deleted-text">Нет в наличии</p>
          </div>
      </md-card-actions>
    </md-card>
    <div class="product-description-container">
      <p>{{product.description}}</p>
    </div>
</div>