.product-card {
    width: 420px;
    float: left;
    padding: 10px;
    border: 2px;
    border-radius: 2px;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.product-card-img {
    width: 400px;
    height: 400px;
}

.mat-dialog-container {
    padding: 0;
}

.actions-container {
    height: 40px;
}

.basket-btn {
    float: right;
}

.product-description-container {
    padding: 10px;
    margin-left: 420px;
}

.product-title {
    font-weight: bold;
    padding: 5px;
    font-size: 14px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: bold;
    color: black;
    white-space: nowrap;
    overflow: hidden;
}

.product-title p:after {
    display: block;
    content: '';
    position: absolute;
    background: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 53%,rgba(255,255,255,1) 100%);
    height: 20px;
    width: 25px;
    right: 10px;
    top: 22.5px;
}

.is-deleted-text {
    float: right;
}