.product-card {
    width: 420px;
    float: left;
    padding: 10px;
    border: 2px;
    border-radius: 2px;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.product-card-img {
    width: 400px;
    height: 400px;
}

.mat-dialog-container {
    padding: 0;
}

.actions-container {
    height: 40px;
}

.basket-btn {
    float: right;
}

.product-description-container {
    padding: 0 10px 10px 10px;
    margin-left: 420px;
}

.product-title {
    margin-top: 0;
    padding: 0;
}

.is-deleted-text {
    float: right;
}

.product-card-button.fav-yes {
    color: goldenrod;
}

.product-card-button.fav-yes:hover {
    color: rgba(218, 165, 32, 0.7);
}

.product-card-button.fav-no {
    color: rgba(0, 0, 0, 0.7);
}

.product-card-button.fav-no:hover {
    color: goldenrod;
}