<div class="spinner-outer-container">
    <div class="spinner-inner-container">
        <mat-progress-spinner class="spinner" color="primary" [mode]="spinnerMode" *ngIf="spinnerMode == 'indeterminate'"></mat-progress-spinner>
    </div>
</div>

<div class="component-panel">
  <p class="auth-failed-text" *ngIf="authFailed">Неправильный логин или пароль</p>
  <div>
      <md-input-container>
        <label for="login">Логин:</label>
        <input mdInput type="text" [(ngModel)]="user.login" id="login">
      </md-input-container>
    </div>
    <div>
        <md-input-container>
            <label for="password">Пароль:</label>
            <input mdInput type="password" [(ngModel)]="user.password" id="password">
        </md-input-container>
    </div>
    <button md-raised-button (click)="login()">Войти</button>
</div>