<div class="component-panel">

  <!-- <md-card>
    <md-card-header>
      Мои заказы
    </md-card-header>
    <md-card-content>
      
    </md-card-content>
  </md-card> -->
  
  <md-expansion-panel *ngFor="let order of orders">
    <md-expansion-panel-header>
      <md-panel-title>
        Заказ №{{order.id}}
      </md-panel-title>
      <md-panel-description>
        Создан: {{order.createDate}}
      </md-panel-description>
    </md-expansion-panel-header>
    <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of order.details">
            <td><img class="detail-img" src="{{detail.product.imageSource}}" alt="Product{{detail.product.id}}Img"></td>
            <td class="text-cell">{{detail.product.name}}</td>
            <td class="text-cell" style="width: 175px;">
              {{detail.quantity}}
            </td>
          </tr>
        </tbody>
      </table>

  </md-expansion-panel>
</div>