<div class="component-panel">

  <md-card>
    <md-card-header>
      <md-card-title>{{user.name}}</md-card-title>
      <md-card-subtitle>{{user.login}}</md-card-subtitle>
    </md-card-header>
  </md-card>

  <div>
    <!-- <md-card>
      <md-card-content>
    
      </md-card-content>
    </md-card> -->

    <div class="personal-menu">
        <md-list>
          <md-list-item class="personal-menu-item">
            <md-icon color="primary">view_list</md-icon>
            <a [routerLink]="['/personal/lk', {outlets: {'personal': ['orders']}}]">Мои заказы</a>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item  class="personal-menu-item">
            <md-icon style="color: goldenrod">star</md-icon>
            <a [routerLink]="['/personal/lk', {outlets: {'personal': ['fav']}}]">Избранное</a>
          </md-list-item>
          <md-divider></md-divider>
        </md-list>
      </div>

    <div class="personal-outlet-container">
      <router-outlet name="personal"></router-outlet>
    </div>
  </div>

</div>