<!-- <md-list>
  <md-list-item *ngFor="let product of basket">
    <p>{{product.Name}}</p>
  </md-list-item>
</md-list> -->

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of basket">
      <td><img md-card-image class="basket-item-img" src="https://www.mirsmazok.ru/images/orig_574_1297638132arFz4e8Hrd.jpg" alt="Product{{item.Id}}Img"></td>
      <td class="text-cell">{{item.Name}}</td>
      <td class="text-cell" style="width: 175px;">
          <button md-icon-button (click)="dec(item)">
              <md-icon class="md-24">remove</md-icon>
          </button>
        {{item.Quantity}}
        <button md-icon-button (click)="inc(item)">
            <md-icon class="md-24">add</md-icon>
        </button>
      </td>
      <td>
        <button md-icon-button color="warn" (click)="remove(item)" class="remove-btn text-cell">
          <md-icon>clear</md-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button md-raised-button (click)="clear()" class="clear-btn">Очистить</button>