<div class="component-panel">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basket">
        <td><img class="basket-item-img" src="{{item.product.imageSource}}" alt="Product{{item.product.id}}Img" (click)="openProductCardDialog(item.product)"></td>
        <td class="text-cell">{{item.product.name}}</td>
        <td class="text-cell" style="width: 175px;">
            <button md-icon-button (click)="dec(item)">
                <md-icon class="md-24">remove</md-icon>
            </button>
          {{item.quantity}}
          <button md-icon-button (click)="inc(item)">
              <md-icon class="md-24">add</md-icon>
          </button>
        </td>
        <td>
          <button md-icon-button color="warn" (click)="remove(item)" class="remove-btn text-cell">
            <md-icon mdTooltip="Удалить из корзины" mdTooltipPosition="right">clear</md-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <button md-raised-button color="primary" (click)="buy()" class="buy-btn" [disabled]="basket.length < 1">Купить</button>
  <button md-raised-button (click)="clear()" class="clear-btn" [disabled]="basket.length < 1">Очистить</button>
</div>