.search-box-container {
    width: 550px;
    margin: auto;
}

.search-box {
    float: left;
    width: 500px;
}

.search-button {
    margin-left: 10px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}