<md-toolbar color="primary">


    <a md-button routerLink="/" routerLinkActive="active">
        Altonika Shop
    </a>
    <a md-button routerLink="/basket" routerLinkActive="active">
        Корзина
    </a>
    <div class="search-box-container">
        <input type="text" class="form-control search-box" placeholder="Поиск" [(ngModel)]="searchText">
        <button md-icon-button class="search-button">
            <md-icon>search</md-icon>
        </button>
    </div>
    <button md-button (click)="logout()" *ngIf="hasCurrentUser">
        Выход
    </button>
</md-toolbar>

<div class="container">
    <router-outlet></router-outlet>
</div>

<simple-notifications [options]="options"></simple-notifications>