<md-toolbar color="primary" class="fixed-top">
    <button md-icon-button (click)="goto('/')">
        <md-icon>home</md-icon>
    </button>
    <div class="search-box-container" *ngIf="hasCurrentUser">
        <!-- <div style="position: relative;">
            <div style="height: 40px;">
                <input type="text" class="form-control search-box" placeholder="Поиск" [(ngModel)]="searchText" (keyup.enter)="search()"
                    onfocus="$('#autocompletePopup').show()" onblur="$('#autocompletePopup').hide()">

                <button md-icon-button color="primary" class="search-button" (click)="search()">
                    <md-icon>search</md-icon>
                </button>
            </div>

            <div id="autocompletePopup" 
                style="display: none; width: 500px; background: green; position: absolute;">
                <md-list>
                    <md-list-item *ngFor="let search of searchHistory">search</md-list-item>
                </md-list>
            </div>
        </div> -->

        <!-- <md-form-field class="search-box-form">
            
        </md-form-field> -->
        <input type="text" class="form-control search-box" placeholder="Поиск" aria-label="Number" mdInput [mdAutocomplete]="auto" [(ngModel)]="searchText" (keyup.enter)="search()">
        <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let search of searchHistory" [value]="search">
                {{ search }}
            </md-option>
        </md-autocomplete>
        <button md-icon-button color="primary" class="search-button" (click)="search()">
            <md-icon>search</md-icon>
        </button>
    </div>
    <button md-icon-button (click)="goto('basket')" *ngIf="hasCurrentUser" mdTooltip="Корзина">
        <md-icon>shopping_cart</md-icon>
        {{basketTotal}}
    </button>
    <button md-icon-button (click)="goto('personal')" *ngIf="hasCurrentUser" mdTooltip="Личный кабинет">
        <md-icon>person</md-icon>
    </button>
    <button md-button (click)="logout()" *ngIf="hasCurrentUser">
        Выход
    </button>
</md-toolbar>

<div class="container outlet-container">
    <router-outlet>
        <div class="spinner-back" *ngIf="showSpinner">
            <mat-progress-spinner class="spinner" color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>

    </router-outlet>
</div>

<!-- <simple-notifications [options]="options"></simple-notifications> -->