<div class="component-panel">
  <p *ngIf="filteredProducts && filteredProducts.length == 0" class="no-product-text">Извините, ничего не найдено</p>
  <md-grid-list cols="4" rowHeight="390px" #grid>
    <md-grid-tile
        *ngFor="let product of filteredProducts"
        [colspan]="1"
        [rowspan]="1">
      <md-card class="product-card">

        <div class="product-card-img-container" (mouseenter)="showBtn(product)" (mouseleave)="hideBtn(product)">
          <img md-card-image class="product-card-img" 
            src="{{product.imageSource}}" 
            alt="Изображение не найдено({{product.id}})"
            onError="this.src = 'img-not-found.jpg'"
            (click)="openProductCard(product)">
          <button md-raised-button id="btn{{product.id}}" class="show-btn" (click)="openProductCardDialog(product)">
            Быстрый просмотр
          </button>
        </div>

        <md-card-header>
          <!-- <md-card-title class="product-title">{{product.name}}</md-card-title> -->
          <a class="product-title-link" href='card?id={{product.id}}'>{{product.name}}</a>
        </md-card-header>
        <md-card-actions>
          <button md-raised-button color="primary" class="basket-btn" 
            (click)="putInBasket(product)"
            *ngIf="!product.isDeleted">
            В корзину
          </button>
          <p *ngIf="product.isDeleted" class="is-deleted-text">Нет в наличии</p>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
  
  <!-- <div>
    <label>Недавно, Вы смотрели:</label>
    <md-grid-list cols="10" rowHeight="130px">
      <md-grid-tile
          *ngFor="let product of productHistory"
          [colspan]="1"
          [rowspan]="1">
        <md-card class="product-history-card">
          <img md-card-image class="product-history-card-img" src="{{product.imageSource}}" alt="Изображение не найдено({{product.id}})"
            (click)="openProductCardDialog(product)">
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </div> -->

</div>