.product-card {
    width: 250px;
}

.product-card-img-container {
    /* display: inline-block;
    position: relative; */
}

.show-btn {
    position: absolute;
    top: calc(50% - 12px); /*12px половина стороны md-icon-button*/
    left: calc(50% - 12px);
    visibility: hidden;
}

.product-card-img {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.basket-btn {
    float: right;
}

.product-history-card {
    width: 100px;
}

.product-history-card-img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.no-product-text {
    width: 100%;
    height: 500px;
    line-height: 500px;
    text-align: center;
}