<div class="component-panel">
  <p *ngIf="filteredProducts && filteredProducts.length == 0" class="no-product-text">Извините, ничего не найдено</p>
  <md-grid-list cols="4" rowHeight="345px" #grid>
    <md-grid-tile
        *ngFor="let product of filteredProducts"
        [colspan]="1"
        [rowspan]="1">
      <md-card class="product-card">

        <div class="product-card-img-container" (mouseenter)="showBtn(product)" (mouseleave)="hideBtn(product)">
          <img md-card-image class="product-card-img" src="{{product.imageSource}}" alt="Product{{product.id}}Img" (click)="openProductCard(product)">
          <!-- <button md-mini-fab id="btn{{product.id}}" color="primary" class="show-btn" (click)="openProductCardDialog(product)">
            <md-icon>search</md-icon>
          </button> -->
          <button md-raised-button id="btn{{product.id}}" class="show-btn" (click)="openProductCardDialog(product)">
            Быстрый просмотр
          </button>
        </div>

        <md-card-header>
          <md-card-title class="product-title">{{product.name}}</md-card-title>
        </md-card-header>

        <!-- <img md-card-image class="product-card-img" src="{{product.imageSource}}" alt="Product{{product.id}}Img" (click)="openProductCard(product)">
        <md-card-actions>
          <button md-mini-fab color="primary" (click)="openProductCardDialog(product)"
            mdTooltip="Быстрый просмотр" mdTooltipPosition="below">
            <md-icon>search</md-icon>
          </button>
        </md-card-actions> -->
      </md-card>
    </md-grid-tile>
  </md-grid-list>
  
  <div>
    <label>Недавно, Вы смотрели:</label>
    <md-grid-list cols="10" rowHeight="130px">
      <md-grid-tile
          *ngFor="let product of productHistory"
          [colspan]="1"
          [rowspan]="1">
        <md-card class="product-history-card">
          <img md-card-image class="product-history-card-img" src="{{product.imageSource}}" alt="Product{{product.id}}Img"
            (click)="openProductCardDialog(product)">
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </div>

</div>